.icon{
    display: none;
}

@media only screen and (max-width: 768px){
    header{
        .hero{
            background-position: center;
            .hero-content{
                h1{
                    font-size: 48px;
                    max-width: 329px;
                    line-height: 48px;
                }
                p{
                    font-size: 15px;
                    max-width: 398px;
                    line-height: 25px;
                }
                button{
                    max-width: 217px;
                    height: 56px;
                    border-radius: 6px;
                    background: #0E8784;
                }
            }
            
        }
    }
    main{
       .container{
        .collection{
            max-width: 100%;
          }
          .main-images{
            display: flex;
            flex-wrap: wrap;
              .box{
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 100%;
                // margin-bottom: 47px;
                img{
                    max-width: 100%;
                }
                div{
                    text-align: center;
                    max-width: 100%;
                    h4{
                        margin-top: 0;
                        max-width: 100%;
                    }
                    p{
                        max-width: 282px;
                        text-align: left;
                        margin: 0;
                        padding-top: 24px;
                    }
                }
              }
          }
       }
       .big-content{
        height: 863px;
        p{
            padding: 0 74px;
        }
        .card-wrapper{
            display: flex;
            flex-direction: column;
            margin-top: 70px;
            .card{
                display: flex;
                width: 573px;
                margin-top: 24px;
                img{
                    max-width: 55px;
                    display: inline-block;
                }
                div{
                    p{
                        max-width: 344px;
                    }
                }
            }
        }
       }
    }
}

@media only screen and (max-width: 500px){
    header{
        background-repeat: no-repeat;
        nav{
            ul{
                display: none;
            }
         .icon{
                display: block;
            }
        }
        .hero{
            .hero-content{
                text-align: center;
                margin: 0 auto;
                h1{
                    font-size: 40px;
                    line-height: 40px;
                    max-width: 300px;
                }
                p{
                    text-align: center;
                    line-height: 25px;
                    margin-top: 24px;
                    margin-bottom: 39px;
            }
        }
    }
}

        main{
            .collection{
                img{
                    max-width: 100%;
                }
              }
            .main-images{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .box{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    margin-bottom: 47px;
                }
            }
            .big-content{
                height: 982px;
                p{
                    padding: 0 24px;
                }
            }
        }
}